branches: 
  only: 
    - master
deploy: 
  api_key: "${GITHUB_TOKEN}"
  file: pspdev-$TARGET-TRAVIS_BUILD_NUMBER.tar.gz
  provider: releases
  skip_cleanup: true
language: c
scripts: 
  - "TARGET=$(uname -a | cut -d \" \" -f1)"
  - "sudo apt-get update"
  - "git clone https://github.com/wally4000/clang-psp"
  - "cd clang-psp"
  - ./toolchain.sh
